.h5_component_bar {

}
.h5_component_bar .line {
	height: 15px;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 15px;
}
.h5_component_bar .name {
	width: 60px;
	float: left;
	color: #000;
	text-align: center;
}
/*name浮动，其他的元素就上去了*/

.h5_component_bar .rate {
	margin-left: 5px;
	height: 15px;
	float: left;
	position: relative;
}
.h5_component_bar .rate .bg {
	background-color: #bb000e;
	width: 0%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	border-radius: 3px;
}
.h5_component_bar .per {
	opacity: 0;
	width: 20px;
	color: red;
	margin-left: 5px;
	float: left;
}
.h5_component_bar_load .rate .bg{
	-webkit-transition: all 1s .3s;
	width: 100%;
}

.h5_component_bar_leave .rate .bg{  /*权利要比上面的深*/
	/*-webkit-transition: all 1s;*/
	width: 0%;
}
.h5_component_bar_load .per{
	-webkit-transition: all 1s .7s;
	-webkit-opacity: 1;
}

.h5_component_bar_leave .per{  /*权利要比上面的深*/
	/*-webkit-transition: all 1s;*/
	-webkit-opacity: 0;
}


